<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ephesis&family=Montserrat&family=Roboto+Slab:wght@200;400&display=swap" rel="stylesheet">
    <title>History</title>
    <link rel="stylesheet" href="../static/css/view_customer.css">
</head>
<body>
    <div class="container">
        <div class="nav">
            <div class="logo">
                <span><img src="../static/images/banking.png" alt=""></span>
                <span>CHARY BANK</span>
            </div>
            <div class="links">
                <span><a  class="logout" href="{{ url_for('Home') }}">Back</a></span>
            </div>
        </div>
        <div class="body">
            <div class="body-header">Transaction History</div>
            <div class="table">
                <table cellspacing="0px" cellpadding="10px">
                    <tr>
                        <th>S.No</th>
                        <th>Sender Name</th>
                        <th>Receiver Name</th>
                        <th>Sender Account No</th>
                        <th>Receiver Account No</th>
                        <th>Amount</th>
                        <th>Date</th>
                    </tr>
                    {% set count = namespace(value=1) %}
                    {% for row in data %}
                    <tr>
                        <td>{{ count.value }}</td>
                        <td>{{ row.Sender_name }}</td>
                        <td>{{ row.Receiver_name }}</td>
                        <td>{{ row.Sender_account }}</td>
                        <td>{{ row.Receiver_account }}</td>
                        <td>{{ row.Transfered_amount }}</td>
                        <td>{{ row.Date }}</td>
                        {% set count.value = count.value + 1 %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="footer">
            <div class="copyright">
                
                <div class="footer-head">CHARY BANK</div>
                <span>Copyright&copy;Gaunisha Gaanavi G</span>
            </div>
            <div class="social">
                <div class="social-title">Contact Us At</div><br>
                <span><img src="../static/images/facebook-circular-logo.png" alt="">Facebook</span><br>
                <span><img src="../static/images/instagram.png" alt="">Instagram</span><br>
                <span><img src="../static/images/twitter.png" alt="">Twitter</span><br>
                <span><img src="../static/images/whatsapp.png" alt="">Whatsapp</span>
            </div>
        </div>
    </div>
</body>
</html>